<li class="country-item list-group-item p-3 mb-3 border rounded shadow-sm d-flex flex-column justify-content-between">

  <div class="country-header d-flex align-items-center mb-2 px-5">
  <h1 class="h5 m-0 fw-semibold flex-grow-1 text-center" data-field="name"></h1>

  <button 
    class="prefer-btn btn btn-sm btn-outline-warning ms-auto"
    data-action="prefer"
    title="Add to favorites"
  >
    <i class="bi bi-star-fill"></i>
  </button>
</div>


  <figure class="text-center mb-3">
    <img data-field="flag" width="80" class="rounded border">
    <figcaption class="mt-2 text-muted fst-italic">Country Flag</figcaption>
  </figure>

 <div class="row text-center">
  <div class="col-6 ">
    <p class="mb-1"><strong>Region:</strong> <span data-field="region"></span></p>
  </div>

  <div class="col-6">
    <p class="mb-1"><strong>Capital:</strong> <span data-field="capital"></span></p>
  </div>

  <div class="col-6">
    <p class="mb-1"><strong>Population:</strong> <span data-field="population"></span></p>
  </div>

  <div class="col-6">
    <p class="mb-1"><strong>Languages:</strong> <span data-field="languages"></span></p>
  </div>

  <div class="col-6">
    <p class="mb-0"><strong>Timezones:</strong> <span data-field="timezones" class="text-break"></span></p>
  </div>
</div>


</li>
